div.box
{
  width: 450px
  background-color: rgb(5,5,5);
  opacity: .6;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: black;
  font-family: 'Century Gothic',  sans-serif;
  border: 2px solid black;
  font-weight: bold;
  max-width: 75%
}
body{
  margin: 0;
  padding: 0; 
  color: black;
  background: rgba(255,223,153,1); 
  /*background-image: url(background2.png) no-repeat;*/
  background-size: cover;
    
}
h1 {
  color: black;
  font-family: verdana;
  font-size: 300%;
}

img
{
max-width: 100%;
}
div
{
padding: 5%;
justify-content: left;
}