body{
  margin: 0;
  padding: 0; 
  color: black;
  /*background: linear-gradient(90deg, rgba(149,254,255,1) 0%, rgba(255,223,153,1) 100%); */
  background-image: url(background2.png) no-repeat;
  background-size: cover;
    
}
h1 {
  color: black;
  font-family: verdana;
  font-size: 300%;
}
.box
{
  width: 450px
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',  sans-serif;
  
}
img
{
max-width: 100%;
}
div
{
padding: 5%;
justify-content: left;
}